* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   height: 100vh;
   display: grid;
   place-items: center;
   background-color: lightpink;
}

.container {
   width: 650px;
   height: 450px;
   overflow: hidden;
   box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
   border-radius: 0.7em;
   position: relative;
}

.imageContainer {
   display: flex;
   transition: transform 0.6s ease-in-out;
}

.btn {
   width: 100%;
   position: absolute;
   color: #fff;
   top: 50%;
   transform: translateY(-50%);
   display: flex;
   justify-content: space-between;
   padding: 0 1em;
   cursor: pointer;
}

.btn .left,
.right {
   opacity: 0.6;
}

.btn .left:hover,
.right:hover {
   opacity: 1;
}

@media (max-width: 728px) {
   .container {
      width: 330px;
      height: 250px;
   }
   .btn {
      font-size: 10px;
      color: black;
   }
}